* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

a {
    color: #004d99;
    text-decoration: none;
}

.header h1 {
    font-size: 2.5em;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d99;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #004d99;
    font-size: 1.2em;
    line-height: 1.6;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 0;
}

.navbar a:hover {
    background-color: #fff;
}

.content {
    max-width: 800px;
    margin: 18px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #004d99;
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #e0e4e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

p {
    text-align: justify;
}

.info-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

.additional-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e4e8;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.additional-info h3 {
    font-size: 1.8em;
    color: #004d99;
    margin-bottom: 15px;
}

.additional-info p {
    font-size: 1.1em;
    line-height: 1.6;
}

.footer {
    background-color: #ffffff;
    color: #000;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}


